<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="canonical" href="$url$">
        <meta name="author" content="pier-bezuhoff">
        <link rel="icon" href="/favicon.ico" sizes="48x48"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any" />
        <!-- reference: https://dev.to/masakudamatsu/favicon-nightmare-how-to-maintain-sanity-3al7 -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <title>$title$ | Pier's Den</title>
        <meta name="description" content="pier-bezuhoff's personal site. I'll post my math/programming/art adventures here">
    </head>
    <body>
        <main role="main">
            $body$
        </main>
    </body>
</html>
