<!doctype html>
<html lang="en">
<head>
$partial("templates/default-head.html")$
</head>
<body>
    <main role="main">
        <p>
        Various SVG icons i made, you can use them freely anywhere <em>with attribution</em> &copy; <code>pier-bezuhoff</code> (<a href="https://creativecommons.org/licenses/by/4.0/deed.en" target="_blank" rel="noreferrer">CC-BY license</a>).
        <br>
        They are made to fit in with <a href="https://fonts.google.com/icons?icon.platform=web&icon.query=border&icon.size=24&icon.color=%23000000" target="_blank" rel="noreferrer">24px Outlined Material icons</a>.
        </p>
$partial("templates/icon-grid.html")$
    </main>
</body>
</html>
